/* _____________ */

:root {
  /* START BOX  */
  --box-width-lg: 25%;
  --box-width-md: 33%;
  --box-width-sm: 50%;
  --box-width-xs: 100%;
  /* ________ */
  --box-height: 320px;
  /* ________ */
  --box-margin: 20px;
  /* ________ */
  --box-border-radius: 8px;
  /* END BOX */

  /* START FONT */
  --text-color: white;
  --student-name: 1.4em;
  --student-info: 1.1em;
  /* END FONT */

  /* START FONT */
  --info-background-color: #24232370;
  /* END FONT */

  /* START STUDENT PHOTO */
  --photo-blur-on-hover: 10px;
  --photo-zoom-on-hover: 1.2;
  --photo-angle-on-hover: 6deg;
  /* END STUDENT PHOTO */
}

/* _____________ */

@font-face {
  font-family: ws_semi_light;
  src: url(./weblysleekuisl.ttf);
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
  text-align: center;
  transition: 0.6s;
  font-family: ws_semi_light;
}

body {
  margin: 0px;
  padding: 0px;
}
img {
  max-width: 100%;
}
.item {
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
#root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.photo-box {
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  height: var(--box-height);
  border-radius: var(--box-border-radius);
  z-index: -1;
  backface-visibility: hidden;
  transform: translateZ(0);
}
.box {
  width: calc(var(--box-width-lg) - var(--box-margin));
  height: 100%;
  margin: calc(var(--box-margin) / 2);
  border-radius: var(--box-border-radius);
  overflow: hidden;
  box-shadow: 0px 2px 7px #00000069;
}
.info {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 1;
  opacity: 0;
  height: 100%;
  overflow: hidden;
  display: grid;
  justify-content: center;
  padding: var(--box-margin);
  align-items: center;
  color: var(--text-color);
  background-color: var(--info-background-color);
  align-content: center;
  grid-row-gap: var(--box-margin);
}

.info > * {
  margin: 0px;
}
.info h3 {
  font-size: var(--student-name);
}
.info p {
  font-size: var(--student-info);
}
.box:hover .info {
  opacity: 1;
}
.box:hover .photo-box {
  filter: blur(var(--photo-blur-on-hover));
  transform: scale(var(--photo-zoom-on-hover))
    rotate(var(--photo-angle-on-hover));
  height: calc(var(--box-height) - calc(var(--box-margin) / 2));
}
.avatar:hover .photo-box {
  transform: scale(var(--photo-zoom-on-hover)) rotate(0deg) !important;
}
.faculty {
  text-transform: lowercase;
}
.avatar .photo-box {
  background-size: 60%;
  background-position: center;
}
@media only screen and (max-width: 1200px) {
  .box {
    width: calc(var(--box-width-md) - var(--box-margin));
  }
}
@media only screen and (max-width: 800px) {
  .box {
    width: calc(var(--box-width-sm) - var(--box-margin));
  }
}

@media only screen and (max-width: 600px) {
  .box {
    width: calc(var(--box-width-xs) - var(--box-margin));
  }
}
